import {
    BaseSystemAdapter,
    type ActorPreparationContext,
    type FoundryActor,
    type PreparedActorData,
} from '@sheet-delver/sdk';

export class %CLASS_PREFIX%Adapter extends BaseSystemAdapter {
    systemId = '%SYSTEM_ID%';

    match(actor: FoundryActor): boolean {
        return actor._stats?.systemId === this.systemId;
    }

    prepareActorData(
        actor: FoundryActor,
        context: Readonly<ActorPreparationContext>,
    ): PreparedActorData {
        return super.prepareActorData(actor, context);
    }
}
